replicaCount: 1

image:
  repository: ghcr.io/cosmo-tech/cosmotech-api
  pullPolicy: IfNotPresent
  tag: "latest"

api:
  servletContextPath: /
  version: latest
  multiTenant: true
  probes:
    startup:
      initialDelaySeconds: 60
      failureThreshold: 50
    liveness:
      timeoutSeconds: 10
      failureThreshold: 5
    readiness:
      timeoutSeconds: 10
      failureThreshold: 5
  serviceMonitor:
    enabled: true
    namespace: "cosmotech-monitoring"
    additionalLabels: {}
  tlsTruststore:
    enabled: false
    secretName: ""
    secretKey: ""
    fileName: ""
    type: "pem"
    jksPassword: ""

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
      - path: /
  tls: []


argo:
  imageCredentials:
    password: ${ACR_LOGIN_PASSWORD}
    registry: ${ACR_LOGIN_SERVER}
    username: ${ACR_LOGIN_USERNAME}

config:
  logging:
    level:
      com.cosmotech: DEBUG
      web: WARN
      org.springframework: WARN
      com.redis: WARN
  csm:
    platform:
      argo:
        base-uri: "http://argo-server:2746"
        workflows:
          storage-class: null
          access-modes:
            - ReadWriteOnce
          requests:
            storage: 100Gi
      authorization:
        allowed-tenants: []
      identityProvider:
        authorizationUrl: "changeme"
        tokenUrl: "changeme"
        defaultScopes:
          openid: "OpenId Scope"
        containerScopes:
          changeme: "changeme"
        serverBaseUrl: "changeme"
        audience: "changeme"
        identity:
          clientId: "changeme"
          clientSecret: "changeme"
          tenantId: "changeme"
        tls:
          enabled: false
          bundle: "changeme"
      databases:
        resources:
          host: redis.host.changeme
          port: 6379
          username: default
          password: changeme
          tls:
            enabled: false
            bundle: "changeme"
        data:
          host: postgresql.host.changeme
          port: 5432
          database: "cosmotech"
          reader:
            username: "changeme"
            password: "changeme"
          writer:
            username: "changeme"
            password: "changeme"

resources:
  limits:
    memory: 2048Mi
  requests:
    memory: 1024Mi

tolerations:
- key: "vendor"
  operator: "Equal"
  value: "cosmotech"
  effect: "NoSchedule"

nodeSelector:
  "cosmotech.com/tier": "services"

podSecurityContext:
  seccompProfile:
    type: "RuntimeDefault"

securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 1000