replicaCount: 1
api:
  version: ${API_VERSION_PATH}
  multiTenant: true
  servletContextPath: /
  tlsTruststore:
    enabled: false

image:
  repository: ghcr.io/cosmo-tech/cosmotech-api
  # tag: API_VERSION}
# argo:
#   imageCredentials:
#     password: ACR_LOGIN_PASSWORD}
#     registry: ACR_LOGIN_SERVER}
#     username: ACR_LOGIN_USERNAME}
#   storage:
#     class:
#       install: false
config:
  spring:
    servlet:
      multipart:
        max-file-size: "1MB"
        max-request-size: "10MB"
  api:
    serviceMonitor:
      # name: cosmotech-api-${NAMESPACE}
      enabled: false
      # enabled: true
      # namespace: MONITORING_NAMESPACE}
  logging:
    level:
      com.cosmotech: DEBUG
      web: WARN
      org.springframework: WARN
      com.redis: WARN
  server:
    error:
      include-stacktrace: always
  csm:
    platform:
      # containerRegistry:
      #   scheme: https
      #   host: ACR_LOGIN_SERVER}
      #   password: ACR_LOGIN_PASSWORD}
      #   username: ACR_LOGIN_USERNAME}
      # identityProvider: IDENTITY_PROVIDER}
      identityProvider:
        audience: "account"
        code: "keycloak"
        serverBaseUrl: "https://${CLUSTER_DOMAIN}/keycloak"
        authorizationUrl: "https://${CLUSTER_DOMAIN}/keycloak/realms/${NAMESPACE}/protocol/openid-connect/auth"
        tokenUrl: "https://${CLUSTER_DOMAIN}/keycloak/realms/${NAMESPACE}/protocol/openid-connect/token"
        defaultScopes:
          openid: "OpenId Scope"
        identity:
          clientId: "${KEYCLOAK_CLIENT_ID}"
          clientSecret: "${KEYCLOAK_CLIENT_PASSWORD}"
          tenantId: "${NAMESPACE}"
        tls:
          enabled: false
      namespace: ${NAMESPACE}
      # loki:
      #   baseUrl: http://loki.MONITORING_NAMESPACE}.svc.cluster.local:3100
      argo:
        base-uri: "http://argo-workflows-server.${NAMESPACE}.svc.cluster.local:2746"
        workflows:
          namespace: ${NAMESPACE}
          service-account-name: argo-workflows
      s3:
        endpointUrl: ${S3_ENDPOINT}
        bucketName: ${S3_BUCKET}
        accessKeyId: ${S3_USERNAME}
        secretAccessKey: ${S3_PASSWORD}
      authorization:
        allowed-tenants: ${NAMESPACE}
        allowedApiKeyConsumers:
          - apiKey: ""
            associatedRole: ""
            name: ""
            securedUris: []
      # azure:
      #   appIdUri: APP_ID_URI}
      #   containerRegistries:
      #     solutions: ACR_LOGIN_SERVER}
      #   credentials:
      #     clientId: CLIENT_ID}
      #     clientSecret: CLIENT_SECRET}
      #     customer:
      #       clientId: NETWORK_ADT_CLIENTID}
      #       clientSecret: NETWORK_ADT_PASSWORD}
      #       tenantId: TENANT_ID}
      #     tenantId: TENANT_ID}
      #   dataWarehouseCluster:
      #     baseUri: ADX_URI}
      #     options:
      #       ingestionUri: ADX_INGESTION_URI}
      #   eventBus:
      #     baseUri: EVENTBUS_URI}
      #   storage:
      #     account-key: STORAGE_ACCOUNT_KEY}
      #     account-name: STORAGE_ACCOUNT_NAME}
      databases:
        resources:
          host: "redis-master.${NAMESPACE}.svc.cluster.local"
          port: "${REDIS_PORT}"
          username: "default"
          password: "${REDIS_PASSWORD}"
          tls:
            enabled: false
            bundle: ""
          run:
            defaultPageSize: 200
          runner:
            defaultPageSize: 200
        data:
          host: "${POSTGRESQL_DATABASE_HOST}"
          port: 5432
          database: "${POSTGRESQL_DATABASE_NAME}"
          reader:
            username: "${POSTGRESQL_READER_USERNAME}"
            password: "${POSTGRESQL_READER_PASSWORD}"
          writer:
            username: "${POSTGRESQL_WRITER_USERNAME}"
            password: "${POSTGRESQL_WRITER_PASSWORD}"
          admin:
            username: "${POSTGRESQL_ADMIN_USERNAME}"
            password: "${POSTGRESQL_ADMIN_PASSWORD}"
      upload:
        authorized-mime-types:
          workspace:
            - application/zip
            - application/xml
            - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
            - application/x-tika-ooxml
            - text/csv
            - text/plain
            - text/x-yaml
            - application/json
            - application/gzip
ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod-${NAMESPACE}"
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "30"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "30"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "30"
    nginx.org/client-max-body-size: "0"
  hosts:
    - host: ${CLUSTER_DOMAIN}
  tls:
    - secretName: "letsencrypt-prod-${NAMESPACE}"
      hosts: ["${CLUSTER_DOMAIN}"]
resources:
  limits:
    memory: 2Gi
  requests:
    memory: 1Gi
tolerations:
- key: "vendor"
  operator: "Equal"
  value: "cosmotech"
  effect: "NoSchedule"
nodeSelector:
  "cosmotech.com/tier": "services"
podSecurityContext:
  seccompProfile:
    type: "RuntimeDefault"
securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 1000